<h1>*Simpsons - Season <%= @season %></h1>

<%= render :partial => "home/season_links" %>

<% if @episodes.nil? %>
    <h2>No Episodes Found</h2>
<% else %>
    <ul id="season-episodes">
    <% @episodes.each do |episode| %>
        <li class="episode">
          <%= link_to "#{episode.title}",
                      {:controller => "videos", :action => "show", :id => episode},
                      :class => "episode-link" %>

          <a href="<%= url_for :controller => "videos",
                               :action => "show",
                               :id => episode %>">
              <img src="<%= episode.thumbnail %>" class="episode-thumbnail" title="<%= episode.summary %>" />
          </a>

          <div class="clearfix"></div>

          <div class="season-label"><%= episode.season_label_short %></div>

        </li>
    <% end %>
    </ul>
<% end %>