<ul id="season-episodes">
<% @episodes.each do |episode| %>
    <li class="episode yellow-box">
        <a href="<%= episode_url :slug => episode %>"
           title="Watch Simpsons Video - Season <%= episode.season %> - Episode <%= episode.episode %> - <%= episode.title %>">
            <div class="episode-title">
                <h3><%= episode.title %></h3>
            </div>

            <img src="<%= episode.thumbnail %>"
                 class="episode-thumbnail"
                 alt="The Simpsons - Season <%= episode.season %> - Episode <%= episode.episode %> - <%= episode.title %>"
                 title="<%= episode.summary %>"/>

            <div class="season-label"><%= episode.season_label %></div>
        </a>
    </li>
<% end %>
</ul>

<% content_for :header do %>Season <%= @season %> Episodes<% end %>
<% content_for :subheader do %>The Simpsons - Seasons<% end %>
<% content_for :page_title do %>The Simpsons Season <%= @season %> Episodes - Simpson Seasons<% end %>
<% content_for :meta_description do %>Watch Simpsons episodes from Season <%= @season %> online for free.<% end %>
<% content_for :meta_keywords do %>simpsons season <%= @season %>, simpsons season <%= @season %> episodes<% end %>