<h1>The Simpsons - Season <%= @season %></h1>

<%= render :partial => "home/season_links" %>

<% if @episodes.nil? %>
    <h2>No Episodes Found</h2>
<% else %>
    <ul id="season-episodes">
    <% (1..12).each do |i| %>
    <% @episodes.each do |episode| %>
        <li class="episode">
          <%= link_to "#{episode.title}",
                      :controller => "videos", :action => "show", :id => episode %>

          <a href="<%= url_for :controller => "videos",
                               :action => "show",
                               :id => episode %>">
              <img src="<%= episode.thumbnail %>" class="episode-thumbnail" />
          </a>

        </li>
    <% end %>
    <% end %>
    </ul>
<% end %>