
<% content_for :head_og do %>
    <meta property="og:title" content="The Simpsons - <%= @video.title %> (<%= @video.season_label_short %>)"/>
    <meta property="og:type" content="tv_show"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="The Simpsons"/>
    <meta property="og:description" content="<%= @video.summary %>"/>
<% end %>

<div id="episode_content">

    <h1>The Simpsons - Season <%= @video.season %> - Episode <%= @video.episode %></h1>

    <h2><%= @video.title %></h2>

    <fb:like href="<%= @url %>" show_faces="true" width="430"></fb:like>

    <h3><%= @video.summary %></h3>

    <div id="embedded_video">
        <object width="530"
                height="410"
                id="video"
                type="application/x-shockwave-flash"
                data="<%= @video.source %>">
            <param name="movie" value="<%= @video.source %>"/>
            <param name="quality" value="high" />
            <param name="scale" value="noorder" />
            <param name="wmode" value="transparent" />
            <param name="allowscriptaccess" value="never" />
            <param name="allownetworking" value="internal" />
            <param name="allowfullscreen" value="true" />
            <param name="pluginspage" value="http://www.macromedia.com/go/getflashplayer" />
        </object>
    </div>

    <div class="clearfix"></div>

    <br />
    <%= render :partial => "home/season_links" %>

</div>