
<% content_for :head_og do %>
    <meta property="og:title" content="The Simpsons - <%= @video.title %> (<%= @video.season_label_short %>)"/>
    <meta property="og:type" content="tv_show"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="The Simpsons"/>
    <meta property="og:description" content="<%= @video.summary %>"/>
<% end %>

<h1>The Simpsons - <%= @video.season_label %></h1>
<h2><%= @video.title %></h2>

<fb:like href="<%= @url %>" show_faces="true" width="430"></fb:like>

<h3><%= @video.summary %></h3>

<object width="530"
        height="410"
        id="video"
        type="application/x-shockwave-flash"
        data="<%= @video.source %>">
    <param name="movie" value="<%= @video.source %>"/>
    <param name="quality" value="high" />
    <param name="scale" value="noorder" />
    <param name="wmode" value="transparent" />
    <param name="allowscriptaccess" value="never" />
    <param name="allownetworking" value="internal" />
    <param name="allowfullscreen" value="true" />
    <param name="pluginspage" value="http://www.macromedia.com/go/getflashplayer" />
</object>


<h3>Related Videos</h3>
<fb:recommendations site="<%= @url %>" width="300" height="300" header="false" border_color="#FFFFFF"></fb:recommendations>

<h3>Comments</h3>
<fb:comments xid="<%= @url %>" numposts="10" width="600" publish_feed="true"></fb:comments>

<br /><br />

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>