<div id="episode_content">

    <h2><%= @episode.title %></h2>

    <fb:like href="<%= @url %>" show_faces="true" width="430"></fb:like>

    <div id="embedded_video" class="yellow-box">
        <a id="video_link" href="<%= @episode.source %>" target="_blank">
            <img id="video_thumb" src="<%= @episode.thumbnail %>" />
        </a>

        <div id="episode_stats">
            <ul id="stats">
                <li><div class="stats_label" id="rating_label">Rating</div><%= ratings_for @episode, :show_user_rating => true %></li>
                <li><div class="stats_label">Last Watched</div><div id="last_watched" class="stats_value"><%= @last_watched %></div></li>
            </ul>
        </div>
    </div>

    <div id="episode_summary" class="white-box">
        <h3><%= @episode.summary %></h3>
    </div>

    <div class="clearfix"></div>

    <div id="btn_prev" class="yellow-box">
        <%= link_to "&laquo; Previous Episode", :controller => :episodes, :action => :show, :id => @previous_episode %>
    </div>

    <div id="btn_next" class="yellow-box">
        <%= link_to "Next Episode &raquo;", :controller => :episodes, :action => :show, :id => @next_episode %>
    </div>

</div>

<% content_for :head_og do %>
    <meta property="og:title" content="The Simpsons - <%= @episode.title %> (<%= @episode.season_label_short %>)"/>
    <meta property="og:type" content="tv_show"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="The Simpsons"/>
    <meta property="og:description" content="<%= @episode.summary %>"/>
<% end %>

<% content_for :header do %>*Simpsons - Season <%= @episode.season %> - Episode <%= @episode.episode %><% end %>
<% content_for :page_title do %>The Simpsons - Season <%= @episode.season %>, Episode <%= @episode.episode %> - "<%= @episode.title %>"<% end %>
<% content_for :meta_description do %><%= @episode.summary %><% end %>
<% content_for :meta_keywords do %>simpsons <%= @episode.season %>, simpsons season <%= @episode.season %> episode <%= @episode.episode %><% end %>

<% content_for :javascript do %>
    $("#video_link").click(function() {
       $.ajax({
          url: "<%= url_for :controller => "episode_views",
                            :action => "tally",
                            :episode_id => @episode.id,
                            :user_id => @user_id %>",
          context: document.body,
          success: function(){
            $("#last_watched").html("Today");
          },
          error: function() {
              alert('error!');
          }
        });
    });
<% end %>