<div id="episode_content">

    <h2><%= @episode.title %></h2>

    <div id="embedded_video" class="yellow-box">
        <a id="video_link" href="<%= @episode.source %>" target="_blank">
            <img id="video_thumb" src="<%= @episode.thumbnail %>" />
        </a>

        <div id="episode_stats">
            <ul id="stats">
                <li><div class="stats_label" id="rating_label">Rating</div><%= ratings_for @episode, :show_user_rating => true %></li>
                <li><div class="stats_label">Last Watched</div><div id="last_watched" class="stats_value"><%= @last_watched %></div></li>
            </ul>
        </div>
    </div>

    <div id="episode_summary" class="yellow-box">
        <h3><%= @episode.summary %></h3>
    </div>

    <div class="clearfix"></div>

    <% unless @previous_episode.nil? %>
    <div id="btn_prev" class="yellow-box white-hover">
        <a href="<%= episode_url :slug => @previous_episode %>">&laquo;&nbsp;&nbsp;Previous Episode</a>
    </div>
    <% end %>

    <div id="btn_random" class="yellow-box white-hover">
        <a href="<%= episode_url :slug => @random_episode %>">&laquo;&nbsp;&nbsp;Random Episode&nbsp;&nbsp;&raquo;</a>
    </div>

    <% unless @next_episode.nil? %>
    <div id="btn_next" class="yellow-box white-hover">
        <a href="<%= episode_url :slug => @next_episode %>">Next Episode&nbsp;&nbsp;&raquo;</a>
    </div>
    <% end %>

    <div class="clearfix"></div>

    <div id="episode_info" class="yellow-box">
        <div id="directors" class="contributors">
            <h4>Directors</h4>
            <ul>
            <% @directors.each do |director| %>
                <li><%= director.name %></li>
            <% end %>
            </ul>
        </div>

        <div id="writers" class="contributors">
            <h4>Writers</h4>
            <ul>
            <% @writers.each do |writer| %>
                <li><%= writer.name %></li>
            <% end %>
            </ul>
        </div>
    </div><!-- /episode_info -->

</div>

<% content_for :head_og do %>
    <meta property="og:title" content="The Simpsons - <%= @episode.title %> (<%= @episode.season_label_short %>)" />
    <meta property="og:type" content="tv_show" />
    <meta property="og:url" content="<%= current_url %>" />
    <meta property="og:image" content="<%= @episode.thumbnail %>" />
    <meta property="og:site_name" content="The Simpsons" />
    <meta property="fb:app_id" content="103144423110785" />
    <meta property="og:description" content="<%= @episode.summary %>" />
<% end %>

<% content_for :header do %>*Simpsons - Season <%= @episode.season %> - Episode <%= @episode.episode %><% end %>
<% content_for :page_title do %>The Simpsons - Season <%= @episode.season %>, Episode <%= @episode.episode %> - "<%= @episode.title %>"<% end %>
<% content_for :meta_description do %><%= @episode.summary %><% end %>
<% content_for :meta_keywords do %>simpsons <%= @episode.season %>, simpsons season <%= @episode.season %> episode <%= @episode.episode %><% end %>

<% content_for :javascript do %>
    $("#video_link").click(function() {
       $.ajax({
          url: "<%= url_for :controller => "episode_views",
                            :action => "tally",
                            :episode_id => @episode.id,
                            :user_id => @user_id %>",
          context: document.body,
          success: function(){
            $("#last_watched").html("Today");
          },
          error: function() {
              alert('error!');
          }
        });
    });
<% end %>