
<% content_for :head_og do %>
    <meta property="og:title" content="The Simpsons - <%= @episode.title %> (<%= @episode.season_label_short %>)"/>
    <meta property="og:type" content="tv_show"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="The Simpsons"/>
    <meta property="og:description" content="<%= @episode.summary %>"/>
<% end %>

<div id="episode_content">

    <h1>*Simpsons - Season <%= @episode.season %> - Episode <%= @episode.episode %></h1>

    <h2><%= @episode.title %></h2>

    <fb:like href="<%= @url %>" show_faces="true" width="430"></fb:like>

    <h3><%= @episode.summary %></h3>

    <div id="embedded_video">
        <a id="episode_link" href="<%= @episode.source %>" target="_blank">
            <img id="video_thumb" src="<%= @episode.thumbnail %>" />
        </a>
    </div>

    <div id="episode_stats">
        <ul>
            <li>Last Watched: <span id="last-watched">NULL</span></li>
            <li>Rating: NULL</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <br />
    <%= render :partial => "home/season_links" %>

</div>

<script type="text/javascript">
    $("#episode_link").click(function() {
       $.ajax({
          url: "<%= url_for :controller => "episode_views", :action => "tally", :episode_id => @episode.id, :user_id => @user_id %>",
          context: document.body,
          success: function(){
            $("#last_watched").html("Today");
          },
          error: function() {
              alert('error!');
          }
        });
    });
</script>