<div id="content_character">
    <div id="character_image" class="yellow-box">
        <img src="<%= @character.image %>" alt="<%= @character.name %>" title="<%= @character.name %>" />
    </div>

    <div id="character_description" class="yellow-box">
        <h3><%= @character.description %></h3>
    </div>
</div>

<% content_for :header do %><%= @character.name %><% end %>
<% content_for :subheader do %>The Simpsons Characters<% end %>
<% content_for :page_title do %><%= @character.name %> - The Simpsons Characters<% end %>
<% content_for :meta_description do %><%= @character.description %><% end %>
<% content_for :meta_keywords do %><% end %>