<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="en"
    lang="en"
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%= yield :page_title %></title>
    <meta name="description" content="<%= yield :meta_description %>" />
    <meta name="keywords" content="the simpsons, simpsons, watch simpsons, simpsons episodes, <%= yield :meta_keywords %>" />

    <link rel="prev" href="<%= yield :prev %>" />
    <link rel="next" href="<%= yield :next %>" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

    <%= stylesheet_link_tag 'simpsons' %>
    <%= yield :head_og %>
</head>

<body>

<div id="header">
    <%= render :partial => "home/season_links" %>

    <h2><%= yield :subheader %></h2>
</div>

<div id="container">
    <div id="content">
        <h1><%= yield :header %></h1>

        <!-- Flash Notice -->
        <div id="flash_notice"><%= notice %></div>

        <!-- Page Content -->
        <%= yield %>

    </div><!-- /content -->
</div><!-- /container -->

<div id="footer">
    <ul>
        <li><%= link_to "Characters", :controller => "characters" %></li>
        <li><%= link_to "Privacy Policy &amp; Terms", :controller => "static", :action => "privacy_terms" %></li>
        <li><%= link_to "Legal Disclaimer &amp; DMCA", :controller => "static", :action => "legal_DMCA" %></li>
        <li><%= link_to "Contact", :controller => "static", :action => "contact" %></li>
    </ul>
</div><!-- /footer -->

<!-- Facebook -->
<script src="http://connect.facebook.net/en_US/all.js#appId=103144423110785&amp;xfbml=1"></script>

<!-- Page-Specific Javascript -->
<script type="text/javascript">
<%= yield :javascript %>
</script>

</body>
</html>
